@{
    Layout = "_layoutAdmin";
}

@model SpaceLoops.DAL.Entities.State

<section class="section">
    <h1 class="section-header">
        <div>
            @if (Model.Id != null && Model.Id != Guid.Empty)
            {
                <span>Edit State</span>
            }
            else
            {
                <span>Add State</span>
            }
        </div>
    </h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">

                <div class="card card-primary">
                    <div class="card-header">
                        <h4>
                         
                            <div>
                                @if (Model.Id != null && Model.Id != Guid.Empty)
                                {
                                    <span>Edit State</span>
                                }
                                else
                                {
                                    <span>Add State</span>
                                }
                            </div>
                        </h4>
                    </div>

                    <div class="card-body">

                        <form action="/Address/AddState" method="POST">
                            <input id="Id" class="form-control" name="Id" value="@Model.Id" type="hidden" autofocus>
                            <input type="hidden" id="hdnTempData" value="@TempData["SuccessMessage"]" />
                            <input type="hidden" id="hiddenTempData" value="@TempData["UpdateMessage"]" />
                            <div class="row">
                                <div class="form-group col-6">
                                    <label>Country</label>
                                    <select class="form-control" name="CountryId">
                                        <option>Select Country</option>
                                        @foreach (var country in ViewBag.CountryList)
                                        {
                                            if(Model.CountryId == country.Id){
                                                <option value="@country.Id" selected ="selected">@country.CountryName</option>
                                            }
                                            else
                                            {
                                                <option value="@country.Id">@country.CountryName</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="StateName">State Name</label>
                                    <input id="StateName" type="text" class="form-control" name="StateName" value="@Model.StateName" autofocus>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <button type="submit" class="btn btn-primary btn-block" style="width: fit-content;">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <script src="~/admintemplate/js/jquery-3.6.4.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script src="~/js/addstate.js"></script>
        </div>
    </div>
</section>
