@{
    Layout = "_layoutAdmin";
}

<section class="section">
    <h1 class="section-header">
        <div>State List</div>
    </h1>
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>State List</h4>
                    </div>

                    <div class="card-body">
                        <input type="hidden" id="hdnTempData" value="@TempData["SuccessMessage"]" />
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        @* <th>Id</th> *@
                                        <th>State Name</th>
                                        <th>Country Name</th>
                                        <th>Created On</th>
                                        <th>Updated On</th>                                      
                                        <th>Actions</th>

                                    </tr>

                                    @foreach (var state in ViewBag.StateList)
                                    {
                                        <tr>
                                            @*  <td>@contact.Id</td> *@
                                            <td>@state.StateName</td>
                                            <td>@state.CountryName</td>
                                            <td>@state.CreatedOn</td>
                                            <td>@state.UpdatedOn</td>
                                            <td>

                                                <a class="btn btn-primary btn-action mr-1" data-toggle="tooltip" title="" data-original-title="Edit" href="/Address/AddState?stateId=@state.Id">Edit<i class="ion ion-edit"></i></a>
                                                <a class="btn btn-danger btn-action" data-toggle="tooltip" id="@state.Id" title="" data-original-title="Delete" onclick="functionConfirm(this.id)">Delete<i class="ion ion-trash-b"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <nav class="d-inline-block">
                            <ul class="pagination mb-0">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1"><i class="ion ion-chevron-left"></i></a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1 <span class="sr-only">(current)</span></a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#"><i class="ion ion-chevron-right"></i></a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
            <script src="~/admintemplate/js/jquery-3.6.4.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script src="~/js/statelist.js"></script>


        </div>
    </div>
</section>