@{
    Layout = "_layoutAdmin";
}
<section class="section">
    <h1 class="section-header">
        <div>
            @if (Model.Id != null && Model.Id != Guid.Empty)
            {
                <span>Edit User</span>
            }
            else
            {
                <span>Add User</span>
            }
        </div>
    </h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">

                <div class="card card-primary">
                    <div class="card-header">
                        <h4>
                            <div>
                                @if (Model.Id != null && Model.Id != Guid.Empty)
                                {
                                    <span>Edit User</span>
                                }
                                else
                                {
                                    <span>Add User</span>
                                }
                            </div>
                        </h4>
                    </div>
                    <div class="card-body">
                        <form action="/Address/UserRegistration" method="post">
                            <input id="Id" class="form-control" name="Id" value="@Model.Id" type="hidden" autofocus>
                            <input id="hdncountryId" class="form-control" name="hdncountryId" value="@ViewBag.CountryId" type="hidden">
                            <input id="hdnStateId" class="form-control" name="hdnStateId" value="@ViewBag.StateId" type="hidden">
                            <input id="hdnCityId" class="form-control" name="hdnCityId" value="@ViewBag.CityId" type="hidden">
                            <input type="hidden" id="hdnTempData" value="@TempData["SuccessMessage"]" />                         
                            <input type="hidden" id="TempExistData" value="@TempData["AlreadyExistMessage"]" />
                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="FirstName">First Name</label>
                                    <input id="FirstName" type="text" class="form-control" name="FirstName" value="@Model.FirstName" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="LastName">LastName</label>
                                    <input id="LastName" type="text" class="form-control" name="LastName" value="@Model.LastName" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="EmailId">EmailId</label>
                                    <input id="EmailId" type="text" class="form-control" name="EmailId" value="@Model.EmailId" required>
                                </div>
                            </div>
                            @* <div class="row">
                                <div class="form-group col-6">
                                    <label for="Password">Password</label>
                                    <input id="Password" type="password" class="form-control" name="Password" required>
                                </div>
                            </div> *@
                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="PhoneNumber">PhoneNumber</label>
                                    <input id="PhoneNumber" type="text" class="form-control" name="PhoneNumber" value="@Model.PhoneNumber" required>
                                </div>
                            </div>
                            <div class="form-group col-6">
                                <label>Country</label>
                                <select class="form-control" name="CountryId" id="CountryId">
                                    <option>Select Country</option>
                                    @foreach (var country in ViewBag.CountryList)
                                    {
                                        if (ViewBag.CountryId == country.Id)
                                        {
                                            <option value="@country.Id" selected="selected">@country.CountryName</option>
                                        }
                                        else
                                        {
                                            <option value="@country.Id">@country.CountryName</option>
                                        }
                                    }
                                </select>
                            </div>

                            <div class="row">
                                <div class="form-group col-6">
                                    <label>State</label>
                                    <select class="form-control" name="StateId" id="StateId">
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    <label>City</label>
                                    <select class="form-control" name="CityId" id="CityId">
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <button type="submit" class="btn btn-primary btn-block" style="width: fit-content;">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <script src="~/admintemplate/js/jquery-3.6.4.min.js"></script>
            <script>
                $(document).ready(function () {
                    if ($("#hdnTempData").val() != null && $("#hdnTempData").val() != '') {
                        toastr.success("Record Added", "Successfully Added");
                    }
                    if ($("#hdncountryId").val() != null && $("#hdncountryId").val() != '') {
                        GetStatesByCountryId($("#hdncountryId").val());

                    }
                    if ($("#hdnStateId").val() != null && $("#hdnStateId").val() != '') {
                        GetCitiesByStatesId($("#hdnStateId").val());

                    }
                    if ($("#TempExistData").val() != null && $("#TempExistData").val() != '') {
                        toastr.success("Akready Exist", "Email Already Exists");
                    }
                });

                $('#CountryId').on('change', function () {
                    var selectedCountryId = $(this).val(); // Get the selected country value
                    GetStatesByCountryId(selectedCountryId);

                    // Perform an AJAX request to get states based on the selected country

                });

                function GetStatesByCountryId(selectedCountryId) {
                    $.ajax({
                        url: '/Address/GetStatesByCountryId', // Replace with your actual controller and action method
                        type: 'GET',
                        data: { countryId: selectedCountryId },
                        success: function (data) {
                            debugger
                            // Update the state select options
                            $('#StateId').empty(); // Clear existing options
                            $.each(data, function (index, state) {
                                debugger;

                                $('#StateId').append($('<option>', {
                                    value: state.id,
                                    text: state.stateName
                                }));
                            });
                            if ($("#hdnStateId").val() != null) {
                                $('#StateId').val($("#hdnStateId").val());
                            }
                        },
                        error: function (error) {
                            console.error('Error fetching states: ' + error);
                        }
                    });
                }


                $('#StateId').on('change', function () {
                    var selectedStateId = $(this).val();

                    GetCitiesByStatesId(selectedStateId);

                    // Perform an AJAX request to get states based on the selected country

                });

                function GetCitiesByStatesId(selectedStateId) {
                    $.ajax({
                        url: '/Address/GetCitiesByStatesId', // Replace with your actual controller and action method
                        type: 'GET',
                        data: { stateId: selectedStateId },
                        success: function (data) {
                            debugger;
                            // Update the state select options
                            $('#CityId').empty(); // Clear existing options
                            $.each(data, function (index, city) {
                                debugger;
                                $('#CityId').append($('<option>', {
                                    value: city.id,
                                    text: city.cityName
                                }));
                            });
                            if ($("#hdnCityId").val() != null) {
                                $('#CityId').val($("#hdnCityId").val());
                            }
                        },
                        error: function (error) {
                            console.error('Error fetching city: ' + error);
                        }
                    });
                }
            </script>
        </div>
    </div>
</section>