@{
    Layout = "_layoutAdmin";
}

<section class="section">
    <h1 class="section-header">
        <div>User List</div>
    </h1>
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>User List</h4>
                    </div>

                    <div class="card-body">
                        <input type="hidden" id="hdnTempData" value="@TempData["SuccessMessage"]" />
                        <input type="hidden" id="hiddenTempData" value="@TempData["UpdateMessage"]" />
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        @* <th>Id</th> *@
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Phone Number</th>
                                        <th>Email Id</th>
                                        <th>City Name</th>
                                        <th>State Name</th>
                                        <th>Country Name</th>
                                        <th>Created On</th>
                                        <th>Updated On</th>
                                        <th>Actions</th>

                                    </tr>

                                    @foreach (var user in ViewBag.UserList)
                                    {
                                        <tr>
                                            @*  <td>@contact.Id</td> *@
                                            <td>@user.FirstName</td>
                                            <td>@user.LastName</td>
                                            <td>@user.PhoneNumber</td>
                                            <td>@user.EmailId</td>
                                            <td>@user.CityName</td>
                                            <td>@user.StateName</td>
                                            <td>@user.CountryName</td>
                                            <td>@user.CreatedOn</td>
                                            <td>@user.UpdatedOn</td>
                                           
                                            <td>

                                                <a class="btn btn-primary btn-action mr-1" data-toggle="tooltip" title="" data-original-title="Edit" href="/Address/UserRegistration?userId=@user.Id">Edit<i class="ion ion-edit"></i></a>
                                                <a class="btn btn-danger btn-action" data-toggle="tooltip" id="@user.Id" title="" data-original-title="Delete" onclick="functionConfirm(this.id)">Delete<i class="ion ion-trash-b"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <nav class="d-inline-block">
                            <ul class="pagination mb-0">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1"><i class="ion ion-chevron-left"></i></a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1 <span class="sr-only">(current)</span></a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#"><i class="ion ion-chevron-right"></i></a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
            <script src="~/admintemplate/js/jquery-3.6.4.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

            <script src="~/js/userlist.js"></script>

        </div>
    </div>
</section>